.divborder{
    margin-left: 10%;
    height:200px;
    margin-top:5px;
    border:2px solid #F00
}
.divlevel{
    display:flex;
    flex-direction:row;
}
.divlevel>span{
    width: 100px;
    text-align:center;
    display:block
}
.divlevel>p{
    width: 100px;
    text-align:left;
    display:block
}
.row{
    height:15%;
}
.center-vertical {
    position:relative;
    top:50%;
    transform:translateY(-50%)
}
.spantitlefont{
    margin-left: 10%;
    font-size:20px
}
.divbordercontent{
    position: absolute;
    top: 10%;
    bottom: 10%
}
.row1{
    height: 70%;
}
.row2{
    height: 15%;
}
.row3{
    height: 100%;
}
.row4{
    height: 35%;
}
.center-vertical {
    position:relative;
    top:50%;
    transform:translateY(-50%)
}
.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}

.ui-jqgrid .ui-jqgrid-sdiv {position: relative; margin: 0; padding:0; overflow: auto; text-align:left;}

