<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>系统设置</title>
    <link rel="stylesheet" href="../../Olive/assets/css/bootstrap.css" />
    <link rel="stylesheet" href="css/padBase.css">
    <link rel="stylesheet" href="../../Olive/assets/css/font-awesome.css" />
    <!-- text fonts -->
    <link rel="stylesheet" href="../../Olive/assets/css/ace-fonts.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="../../Olive/assets/css/ace.css" class="ace-main-stylesheet" id="main-ace-style" />



    <style>
        body {
            background-color: #ffffff;
            min-height: 100%;
            padding-bottom: 0;
            font-family: 'Open Sans';
            font-size: 13px;
            color: #393939;
            line-height: 1.5;
        }
    </style>
</head>
<body>
<div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h1 align="center" class="center-vertical">
        自助收银
    </h1>
</div>
<div style="margin-top: 5%" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <span class="spantitlefont">系统设置</span>
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 divborder" >
        <div class="divbordercontent">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height: 50%;">
                <div class="divlevel">
                    <span >设备号：</span>
                    <p >KG170802</p>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height: 50%;">
                <div class="divlevel">
                    <span >服务器地址：</span>
                    <input class="col-lg-6 col-md-6 col-sm-6 col-xs-6" type="text" id="basePath"/>
                </div>
            </div>

        </div>
    </div>

</div>
<div style="margin-top: 5%" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <span class="spantitlefont">读写器设置</span>
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 divborder" >
        <div class="divbordercontent">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height: 30%;">
                <div class="divlevel">
                    <span >读写器地址：</span>
                    <input class="col-lg-4 col-md-4 col-sm-4 col-xs-4" type="text"/>
                </div>

            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height: 30%;">
                <div class="divlevel">
                    <span>功率：</span>
                    <input class="col-lg-2 col-md-2 col-sm-2 col-xs-2" type="text"/>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height: 30%;">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <div class="divlevel">
                            <label >天线1:</label>
                            <!--<input style="width: 30%" type="range" value="0">-->
                            <div class='btn-group btn-group-sm pull-left'>
                                <span class='col-sm-10'>
                                    <input style="width: 30%" type="checkbox" class="ace ace-switch ace-switch-5">
                                    <span class='lbl middle'></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <div class="divlevel">
                            <label>天线2:</label>
                            <!--<input style="width: 30%" type="range" value="0">-->
                            <div class='btn-group btn-group-sm pull-left'>
                                <span class='col-sm-10'>
                                    <input style="width: 30%" type="checkbox" class="ace ace-switch ace-switch-5">
                                    <span class='lbl middle'></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <div class="divlevel">
                            <label >天线3:</label>
                            <!--<input style="width: 30%" type="range" value="0">-->
                            <div class='btn-group btn-group-sm pull-left'>
                                <span class='col-sm-10'>
                                    <input style="width: 30%" type="checkbox" class="ace ace-switch ace-switch-5">
                                    <span class='lbl middle'></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <div class="divlevel">
                            <label >天线4:</label>
                            <!--<input style="width: 30%" type="range" value="0">-->
                            <div class='btn-group btn-group-sm pull-left'>
                                <span class='col-sm-10'>
                                    <input style="width: 30%" type="checkbox" checked class="ace ace-switch ace-switch-5">
                                    <span class='lbl middle'></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div  style="margin-top: 5%" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-6 col-md-6 col-sm-6 center"  style="height: 100%">
        <button class="btn btn-primary " onclick="back() "  type="button">上一步</button>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 center" style="height: 100%">
        <button class="btn btn-primary "  type="button" onclick="save()">保存</button>
    </div>
</div>

</body>
<script>
    var basePath = localStorage.getItem("basePath");
/*    var setPath=basePathAll.split("/padLogin")[0];
    $("#BasePath").val(setPath);*/

    function back() {
        localStorage.setItem("back",1);
        window.location.href=basePath+'views/pad/padUser.html';
    }

</script>
</html>
