<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        var protocol = window.location.protocol;
        var host = window.location.host;
        var basePath=protocol+"//"+host;
        console.info(basePath);
    </script>
    <link rel="stylesheet" href="css/mynumkb.css">
    <link rel="stylesheet" href="../../Olive/assets/css/font-awesome.css" />
    <link rel="stylesheet" href="../../Olive/assets/css/bootstrap.css" />
    <link rel="stylesheet" href="../../Olive/plugin/bootstrap-validator/css/bootstrapValidator.min.css" />
    <style>*{padding:0;margin:0;}</style>
</head>
<body>

</body>
</html>