<html lang="en">
<head>
    <meta charset="UTF-8">
    <script>
        var basePath=window.location.protocol+"//"+window.location.hostname+":"+window.location.port;
        var timeout;
        var websocket;
    </script>
    <script src="../../Olive/assets/js/jquery.js"></script>
    <script src="../../Olive/assets/js/bootstrap.js"></script>
    <script src="../../Olive/assets/js/bootbox.js"></script>
    <link rel="stylesheet" href="../../Olive/assets/css/jquery-ui.css" />
    <link rel="stylesheet" href="../../Olive/assets/css/ui.jqgrid.css">
    <link rel="stylesheet" href="../../Olive/assets/css/ace.css"/>
    <link rel="stylesheet" href="../../Olive/assets/css/ace-fonts.css">
    <link rel="stylesheet" href="../../Olive/assets/css/datepicker.css">
    <link rel="stylesheet" href="../../Olive/assets/css/font-awesome.css">
    <link rel="stylesheet" href="../../Olive/assets/css/bootstrap.css">
    <link rel="stylesheet" href="../../Olive/assets/css/jquery-ui.custom.css">
    <link rel="stylesheet" href="../../Olive/assets/css/bootstrap-multiselect.css">
    <link rel="stylesheet" href="../pad/css/padBase.css">
    <!--grid.locale-en.js这个文件必须在jquery.jqGrid.min.js之前加载，否则会出问题-->
    <script src="../../Olive/assets/js/jqGrid/i18n/grid.locale-cn.js"></script>
    <script src="../../Olive/assets/js/jqGrid/js/jquery.jqGrid.min.js"></script>

   <script src="../../Olive/assets/js/x-editable/bootstrap-editable.js"></script>
    <script src="../../Olive/assets/js/jquery-ui.js"></script>
    <script src="../../Olive/assets/js/jquery-ui.custom.js"></script>
    <script src="../../Olive/assets/js/jquery.ui.touch-punch.js"></script>
    <script src="../../Olive/assets/js/jqGrid/src/grid.common.js"></script>
    <script src="../../Olive/assets/js/jqGrid/src/grid.celledit.js"></script>
   <script src="../../jslib2/constant.js"></script>
    <script src="../../Olive/plugin/dateFormatUtil.js"></script>
    <script src="../../Olive/assets/js/jquery.gritter.js"></script>
    <script src="../../Olive/assets/js/qrcode.min.js"></script>
    <script src="../../Olive/assets/js/qrcode.js"></script>
    <style>
        *{
          overflow: hidden;
        }
        .bottom-button{
            color:white;
            background-color:#307a3c;
            height:8%;
            position: fixed;
            bottom: 10px;
            border-color:#307a3c
        }
    </style>
</head>
<body style="height: 100% ; width: 100%">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="center">
          <div class="panel panel-default left-panel">
              <div class="panel-body">
                  <div class="widget-body">
                      <div class=" col-lg-12 col-md-12 col-sm-12" style="height:75% " id="sale">
                          <h5 class="text-info">寄存明细列表</h5>
                          <table id="addDetailgrid"></table>
                          <div id="addDetailgrid-pager" ></div>
                      </div>
                  </div>
              </div>
          </div>

          <button id="save" class="bottom-button" onclick="save()">保存</button>
          <button id="back" class="bottom-button" onclick="onBack()">上一步</button>
      </div>
  </div>
  <div style="display:none">
      <form id="editForm" role="form">

          <input id="search_billNo" name="billNo" type="hidden"/>

          <input id="search_billDate" name="billDate" type="hidden"/>

          <input id="search_payType" name="payType" type="hidden"/>

          <input id="search_customerType" name="customerTypeId" type="hidden"/>

          <input id="search_destUnitId" type="hidden" name="destUnitId"/>

          <input id="search_destUnitName" type="hidden" name="destUnitName"/>

          <input id="search_actPrice" name="actPrice" type="hidden" step="0.01"/>

          <input id="search_payPrice" name="payPrice" type="hidden" step="0.01"/>

          <input id="pre_Balance" name="preBalance" type="hidden"/>

          <input id="search_destId" name="destId" type="hidden"/>

          <input id="search_origId" name="origId" type="hidden"/>

          <input  id="after_Balance" name="afterBalance" type="hidden"/>

          <input  id="search_discount" name="discount" type="hidden"/>

          <input  id="search_busnissId" type="hidden" name="busnissId"/>

          <input id="form_remark" type="hidden" name="remark"/>

          <input id="search_status" name="status" type="hidden"/>

          <input id="search_ownerId" name="ownerId" type="hidden"/>

          <input id="search_customertyper" name="customerType" type="hidden"/>

          <input  id="search_origUnitId" type="hidden" name="origUnitId"  />

          <input  id="search_origUnitName" type="hidden" name="origUnitName" />
      </form>
  </div>
<script>
    $(function () {
        loadTable();
        //得到表格的宽度
        var tableWith=$("#sale").width();
        var oneWith=tableWith/12;
        $("#save").css("right",oneWith+oneWith+"");
        $("#save").css("width",oneWith);
        $("#back").css("right","10px");
        $("#back").css("width",oneWith);
        initTable();
    });
    function initTable() {
        var addProductInfo = JSON.parse(localStorage.getItem("addProductInfo")); //转换为json对象
        console.log(addProductInfo);
        var isAdd = true;
        var alltotActPrice = 0;
        if(addProductInfo != null && addProductInfo!= "" && addProductInfo!=undefined){
            $.each(addProductInfo, function (index, value) {
                console.info(value);
                isAdd = true;
                $.each($("#addDetailgrid").getDataIDs(), function (dtlIndex, dtlValue) {
                    var dtlRow = $("#addDetailgrid").getRowData(dtlValue);
                    if (value.sku === dtlRow.sku) {
                        if (dtlRow.uniqueCodes.indexOf(value.code) != -1) {
                            isAdd = false;
                            $.gritter.add({
                                text: value.code + "不能重复添加",
                                class_name: 'gritter-success  gritter-light'
                            });
                            return true;
                        }
                        dtlRow.qty = parseInt(dtlRow.qty) + 1;
                        dtlRow.totPrice = dtlRow.qty * dtlRow.price;
                        dtlRow.totActPrice = dtlRow.qty * dtlRow.actPrice;
                        alltotActPrice += dtlRow.qty * dtlRow.actPrice;
                        dtlRow.uniqueCodes = dtlRow.uniqueCodes + "," + value.code;
                        console.info(dtlRow);
                        if (dtlRow.id) {
                            $("#addDetailgrid").setRowData(dtlRow.id, dtlRow);
                        } else {
                            $("#addDetailgrid").setRowData(dtlIndex, dtlRow);
                        }
                        isAdd = false;
                    }
                });
                if (isAdd) {
                    $("#addDetailgrid").addRowData($("#addDetailgrid").getDataIDs().length, value);
                }
            });
        }
        setFooterData();

    }
    function loadTable() {
        $("#addDetailgrid").jqGrid({
            height: "auto",
            datatype: "json",
            colModel: [
                {name: 'id', label: 'id', hidden: true},
                {name: 'billId', label: 'billId', hidden: true},
                {name: 'billNo', label: 'billNo', hidden: true},
                {name: 'status', hidden: true},
                {name: 'inStatus', hidden: true},
                {name: 'outStatus', hidden: true},
                {
                    name: "operation", label: '操作', width: 30, align: 'center', sortable: false,
                    formatter: function (cellValue, options, rowObject) {
                        if (rowObject.inStatus != 4 || rowObject.inStatus != 1) {
                            return "<a href='javascript:void(0);' onclick=saveItem('" + options.rowId + ")'><i class='ace-icon ace-icon fa fa-save' title='保存'></i></a>"
                                + "<a href='javascript:void(0);' style='margin-left: 20px' onclick=deleteRow('" + options.rowId + "')><i class='ace-icon fa fa-trash-o red' title='删除'></i></a>";
                        } else {
                            return "";
                        }
                        /*var html = '<a href="#" title="保存该行" onclick="saveItem(' + options.rowId + ')"><i class="ace-icon fa fa-save"></i></a>';
                         html += '&nbsp;&nbsp;&nbsp;<a href="#"  title="删除一行" onclick="deleteRow(' + options.rowId + ')"><i class="ace-icon fa fa-trash"></i></a>';*/
                    }
                },
                {
                    label: '状态', width: 20, hidden: true, sortable: false,
                    formatter: function (cellValue, options, rowObject) {
                        return '<i class="ace-icon fa fa-tasks blue"></i>'
                    }
                },
                {
                    name: 'inStatusImg', label: '入库状态', width: 30, align: 'center', sortable: false,
                    formatter: function (cellValue, options, rowObject) {
                        if (rowObject.inStatus == 0) {
                            return '<i class="fa fa-tasks blue" title="订单状态"></i>';
                        } else if (rowObject.inStatus == 1) {
                            return '<i class="fa fa-sign-in blue" title="已入库"></i>';
                        } else if (rowObject.inStatus == 4) {
                            return '<i class="fa fa-sign-out blue" title="入库中"></i>';
                        } else {
                            return '';
                        }
                    }
                },
                /*{
                 name: 'outStatusImg', label: '出库状态', width: 30, align: 'center',
                 formatter: function (cellValue, options, rowObject) {
                 if (rowObject.outStatus == 0) {
                 return '<i class="fa fa-tasks blue" title="订单状态"></i>';
                 } else if (rowObject.outStatus == 2) {
                 return '<i class="fa fa-sign-in blue" title="已出库"></i>';
                 } else if (rowObject.outStatus == 3) {
                 return '<i class="fa fa-sign-out blue" title="出库中"></i>';
                 } else {
                 return '';
                 }
                 }
                 },*/
                {name: 'rType', label: '退货类型', hidden: true},
                {
                    name: '',
                    label: '退货类型',
                    width: 40,
                    hidden: true,
                    editable: true,
                    formatter: function (cellValue, options, rowObject) {
                        switch (cellValue) {
                            case "0":
                                return "缺损退货";
                            default:
                                return "报损退货";
                        }
                    },
                    editoptions: {
                        dataInit: function (e) {
                            $(e).kendoComboBox({
                                dataTextField: "name",
                                dataValueField: "id",
                                height: 200,
                                suggest: true,
                                change: function (e) {
                                    if (this._initial != this._prev) {
                                        $('#addDetailgrid').saveRow(editDtailRowId);
                                        var value = $('#addDetailgrid').getRowData(editDtailRowId);
                                        value.inStockType = this.value();
                                        $("#addDetailgrid").setRowData(editDtailRowId, value);
                                    }

                                },
                                dataSource: {
                                    type: "jsonp",
                                    transport: {
                                        read: basePath + "/sys/property/searchByType.do?type=C6"
                                    }
                                }
                            });
                        }
                    }
                },
                {name: 'styleId', label: '款号', width: 40},
                {name: 'styleName', label: '款式', width: 40},
                {name: 'colorId', label: '色号', width: 40},
                {name: 'colorName', label: '颜色', width: 30},
                {name: 'sizeId', label: '尺码', width: 30},
                {name: 'sizeName', label: '尺寸', width: 40},
                {
                    name: 'qty', label: '数量', editable: true, width: 40,
                    editrules: {
                        number: true,
                        minValue: 1
                    }
                },
                {name: 'sale', label: '已销售数量', width: 40},
                {name: 'outMonyQty', label: '退款数量', editable: true, width: 40},
                {name: 'outQty', label: '退货数量', width: 40},
                {name: 'inQty', label: '已入库数量', width: 40},
                {name: 'sku', label: 'sku', width: 50},
                {
                    name: 'price', label: '寄售价格', width: 40,
                    formatter: function (cellValue, options, rowObject) {
                        var price = parseFloat(cellValue).toFixed(2);
                        return price;
                    }
                },
                {
                    name: 'totPrice', label: '寄售金额', width: 40,
                    formatter: function (cellValue, options, rowObject) {
                        var totPrice = parseFloat(cellValue).toFixed(2);
                        return totPrice;
                    }
                },
                {name: 'discount', label: '折扣', width: 40, editable: true},
                {
                    name: 'actPrice', label: '实际价格', editable: true, width: 40,
                    editrules: {
                        number: true
                    },
                    formatter: function (cellValue, options, rowObject) {
                        var actPrice = parseFloat(cellValue).toFixed(2);
                        return actPrice;
                    }
                },
                {
                    name: 'totActPrice', label: '实际金额', width: 40,
                    formatter: function (cellValue, options, rowObject) {
                        var totActPrice = parseFloat(cellValue).toFixed(2);
                        return totActPrice;
                    }
                },
                {name: 'uniqueCodes', label: '唯一码', hidden: true},
                {
                    name: '', label: '唯一码明细', width: 40, align: "center",
                    formatter: function (cellValue, options, rowObject) {
                        return "<a href='javascript:void(0);' onclick=showCodesDetail('" + rowObject.uniqueCodes + "')><i class='ace-icon ace-icon fa fa-list' title='显示唯一码明细'></i></a>";
                    }
                },
                {name: 'beforeoutQty', hidden: true},
                {name: 'savehaveuniqueCodes', label: '唯一码', hidden: true},
                {name: 'savenohanveuniqueCodes', label: '唯一码', hidden: true},
                {name: 'readysale', label: '准备销售', hidden: true},
                {name:'stylePriceMap',label:'价格表',hidden:true}
            ],
            autowidth: true,
            rownumbers: true,
            altRows: true,
            rowNum: -1,
            multiselect: false,
            shrinkToFit: true,
            pager: '#addDetailgrid-pager',
            sortname: 'id',
            sortorder: "desc",
            footerrow: true,
            cellEdit: true,
            cellsubmit: 'clientArray',

            beforeEditCell: function (rowid, celname, value, iRow, iCol) {
                if (isfrist) {
                    beforsale = $('#addDetailgrid').getCell(rowid, "outMonyQty");
                    readysale = $('#addDetailgrid').getCell(rowid, "readysale");
                }
                isfrist = false;

            },
            afterEditCell: function (rowid, celname, value, iRow, iCol) {

                editDtailiRow = iRow;
                editDtailiCol = iCol;
                issaleretrun = false;
            },
            afterSaveCell: function (rowid, cellname, value, iRow, iCol) {
                if (cellname === "discount") {
                    var var_actPrice = Math.round(value * $('#addDetailgrid').getCell(rowid, "price")) / 100;
                    var var_totActPrice = -Math.abs(Math.round(var_actPrice * $('#addDetailgrid').getCell(rowid, "qty") * 100) / 100);
                    $('#addDetailgrid').setCell(rowid, "actPrice", var_actPrice);
                    $('#addDetailgrid').setCell(rowid, "totActPrice", var_totActPrice);
                } else if (cellname === "actPrice") {
                    var var_discount = Math.round(value / $('#addDetailgrid').getCell(rowid, "price") * 100);
                    var var_totActPrice = -Math.abs(Math.round(value * $('#addDetailgrid').getCell(rowid, "qty") * 100) / 100);
                    $('#addDetailgrid').setCell(rowid, "discount", var_discount);
                    $('#addDetailgrid').setCell(rowid, "totActPrice", var_totActPrice);
                } else if (cellname === "qty") {
                    $('#addDetailgrid').setCell(rowid, "totPrice", -Math.abs(Math.round($('#addDetailgrid').getCell(rowid, "price") * value * 100) / 100));
                    $('#addDetailgrid').setCell(rowid, "totActPrice", -Math.abs(Math.round($('#addDetailgrid').getCell(rowid, "actPrice") * value * 100) / 100));
                } else if (cellname === "outMonyQty") {
                    debugger;
                    var isok = true;
                    var outQty = $('#addDetailgrid').getCell(rowid, "outQty");
                    /* var sale=$('#addDetailgrid').getCell(rowid, "sale");*/
                    var inQty = $('#addDetailgrid').getCell(rowid, "inQty");
                    if ((parseInt(outQty) + parseInt(value)) > parseInt(inQty)) {
                        isok = false;
                        $.gritter.add({
                            text: "已超过入库数量",
                            class_name: 'gritter-success  gritter-light'
                        });
                        $('#addDetailgrid').setCell(rowid, "outMonyQty", beforsale);
                        $('#addDetailgrid').setCell(rowid, "readysale", readysale);
                    }
                    if (parseInt(value) < beforsale) {
                        isok = false;
                        $.gritter.add({
                            text: "少于退款数量",
                            class_name: 'gritter-success  gritter-light'
                        });
                        $('#addDetailgrid').setCell(rowid, "outMonyQty", beforsale);
                        $('#addDetailgrid').setCell(rowid, "readysale", readysale);
                    }
                    //var sale=$('#addDetailgrid').getCell(rowid, "sale");
                    if (isok) {
                        /*  alert(beforsale);*/
                        /* var readysale=$('#addDetailgrid').getCell(rowid, "readysale");*/
                        var sum = parseInt(readysale) + (value - beforsale);
                        $('#addDetailgrid').setCell(rowid, "readysale", sum);
                    }


                }
            },

            gridComplete: function () {
                setFooterData();
            },
            loadComplete: function () {
                initAllCodesList();

            }
        });
        $("#addDetailgrid-pager_center").html("");
    }
    function initAllCodesList() {
        allCodeStrInDtl = "";
        $.each($("#addDetailgrid").getDataIDs(), function (index, value) {
            var rowData = $("#addDetailgrid").getRowData(value);
            allCodeStrInDtl = allCodeStrInDtl + "," + rowData.uniqueCodes;
        });
        if (allCodeStrInDtl.substr(0, 1) == ",") {
            allCodeStrInDtl = allCodeStrInDtl.substr(1);
        }
    }
    function setFooterData() {
        var sum_qty = $("#addDetailgrid").getCol('qty', false, 'sum');
        var sum_sale = $("#addDetailgrid").getCol('sale', false, 'sum');
        var sum_outMonyQty = $("#addDetailgrid").getCol('outMonyQty', false, 'sum');
        var sum_outQty = $("#addDetailgrid").getCol('outQty', false, 'sum');
        var sum_inQty = $("#addDetailgrid").getCol('inQty', false, 'sum');
        var sum_totPrice = $("#addDetailgrid").getCol('totPrice', false, 'sum');
        var sum_totActPrice = Math.round($("#addDetailgrid").getCol('totActPrice', false, 'sum'));
        $("#addDetailgrid").footerData('set', {
            styleId: "合计",
            qty: sum_qty,
            sale: sum_sale,
            outMonyQty: sum_outMonyQty,
            outQty: sum_outQty,
            inQty: sum_inQty,
            totPrice: -Math.abs(sum_totPrice),
            totActPrice: -Math.abs(sum_totActPrice)
        });
        $("#search_actPrice").val(-Math.abs(sum_totActPrice));
    }
    function updatePagerIcons(table) {
        //ui-icon ui-icon-circlesmall-minus
        var replacement =
            {
                'ui-icon-seek-first' : 'ace-icon fa fa-angle-double-left bigger-140',
                'ui-icon-seek-prev' : 'ace-icon fa fa-angle-left bigger-140',
                'ui-icon-seek-next' : 'ace-icon fa fa-angle-right bigger-140',
                'ui-icon-seek-end' : 'ace-icon fa fa-angle-double-right bigger-140'
            };
        $('.ui-pg-table:not(.navtable) > tbody > tr > .ui-pg-button > .ui-icon').each(function(){
            var icon = $(this);
            var $class = $.trim(icon.attr('class').replace('ui-icon', ''));

            if($class in replacement) icon.attr('class', 'ui-icon '+replacement[$class]);
        });
    }
    function enableTooltips(table) {
        $('.navtable .ui-pg-button').tooltip({
            container: 'body'
        });
        $(table).find('.ui-pg-div').tooltip({
            container: 'body'
        });
    }
    function save() {
        window.location.href=basePath+'/views/NoOneCashier/selectSaleRetrunOrAccountWS.html';
    }
</script>
</body>
</html>