<!DOCTYPE html>
<html>
<head>
    <script>
        var protocol = window.location.protocol;
        var host = window.location.host;
        var basePath=protocol+"//"+host;
        console.info(basePath);
    </script>
    <link rel="stylesheet" href="css/mynumkb.css">
    <link rel="stylesheet" href="../../Olive/assets/css/font-awesome.css" />
    <link rel="stylesheet" href="../../Olive/assets/css/bootstrap.css" />
    <link rel="stylesheet" href="../../Olive/plugin/bootstrap-validator/css/bootstrapValidator.min.css" />
    <style>*{padding:0;margin:0;}</style>
</head>
<body>
        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 head" style="height: 92%">
            <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6  left" style="height: 100%">
                <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
                    <form id="payForm">
                        <ul class="pay-settlement-input">

                        </ul>
                    </form>
                </div>
            </div>
            <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6 right" style="height: 100%">
                <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
                    <div class="right-head">
                        <ul class="paywaylist">

                        </ul>
                    </div>
                    <div class="right-foot">

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 foot">
            <button type="button" class="btn bottom-button" onclick="">
                <span class="bigger-110">打印</span>
            </button>
            <button type="button" class="btn bottom-button" onclick="savePayPrice()">
                <span class="bigger-110">结算</span>
            </button>
        </div>

        <div class="modal" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="imgModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false" style="z-index: 9990; display: none;">
            <div style="width: 200px;height:20px; z-index: 20000; position: absolute; text-align: center; left: 50%; top: 50%;margin-left:-100px;margin-top:-10px">
                <div class="progress progress-striped active" style="margin-bottom: 0;">
                    <div class="progress-bar" style="width: 100%;"></div>
                </div>
                <h5>服务器请求中...</h5>
            </div>
        </div>

        <script src="js/jquery.min.js"></script>
        <script src="../../Olive/assets/js/bootstrap.js"></script>
        <script src="../../jslib2/constant.js"></script>
        <script src="../../Olive/assets/js/bootbox.js"></script>
        <script src="js/mynumkb.js"></script>
        <script src="js/iconfont.js"></script>
        <script src="payDetail.js"></script>

</body>
</html>
