<!DOCTYPE html>
<html>
<head>
    <script>
        var protocol = window.location.protocol;
        var host = window.location.host;
        var basePath=protocol+"//"+host;
        console.info(basePath);
    </script>
    <link rel="stylesheet" href="css/mynumkb.css">
    <link rel="stylesheet" href="../../Olive/assets/css/font-awesome.css" />
    <link rel="stylesheet" href="../../Olive/assets/css/bootstrap.css" />
    <link rel="stylesheet" href="../../Olive/plugin/bootstrap-validator/css/bootstrapValidator.min.css" />
    <style>*{padding:0;margin:0;}</style>
</head>
<body>
        <div class="container">
            <div class="col-md-12 head">
                <div class="col-md-6  left">
                    <div class="col-md-12">
                        <ul class="pay-settlement-input">
                            <!--<li>
                                <span id="payPrice">待收金额</span>
                                <input id="payPriced" type="text" readonly value="0.00">
                            </li>
                            <li>
                                <span id="xianjin">现金</span>
                                <input id="xianjind" type="text"  value="0.00">
                            </li>
                            <li>
                                <span id="zhifubao">支付宝</span>
                                <input id="zhifubaod" type="text"  value="0.00">
                            </li>
                            <li>
                                <span id="actPayPrice">实收金额</span>
                                <input id="actPayPriced" type="text" readonly value="0.00">
                            </li>-->
                        </ul>
                    </div>
                </div>
                <div class="col-md-6  right">
                    <div class="col-md-12">
                        <div class="right-head">
                            <ul class="paywaylist">
                                <!--<li class="selectpaytype">
                                    <svg class="icon" aria-hidden="true">
                                        <use xlink:href="#icon-xianjinzhifu"></use>
                                    </svg>
                                    <span>现金支付</span>
                                </li>
                                <li class="selectpaytype">
                                    <svg class="icon" aria-hidden="true">
                                        <use xlink:href="#icon-zhifubaozhifu"></use>
                                    </svg>
                                    <span>支付宝支付</span>
                                </li>
                                <li class="selectpaytype">
                                    <svg class="icon" aria-hidden="true">
                                        <use xlink:href="#icon-ziyuanxiawu"></use>
                                    </svg>
                                    <span>微信支付</span>
                                </li>
                                <li class="selectpaytype">
                                    <svg class="icon" aria-hidden="true">
                                        <use xlink:href="#icon-xinyongqiazhifu"></use>
                                    </svg>
                                    <span>刷卡支付</span>
                                </li>-->
                            </ul>
                        </div>
                        <div class="right-foot">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 foot">
                <div class="col-sm-12 button">
                    <button type="button" class="btn bottom-button" onclick="_search()">
                        <span class="bigger-110">打印</span>
                    </button>
                    <button type="reset" class="btn bottom-button" onclick="_resetForm()">
                        <span class="bigger-110">结算</span>
                    </button>
                </div>
            </div>
        </div>


    <script src="js/jquery.min.js"></script>
    <script src="../../Olive/assets/js/bootstrap.js"></script>
    <script src="js/mynumkb.js"></script>
    <script src="js/iconfont.js"></script>
    <script src="payDetail.js"></script>
</body>
</html>
