<html lang="en">
<head>
    <meta charset="UTF-8">
    <script>
        var basePath=window.location.protocol+"//"+window.location.hostname+":"+window.location.port;
        var timeout;
        var websocket;
        var isAdd = true;
    </script>
    <script src="../../Olive/assets/js/jquery.js"></script>
    <script src="../../Olive/assets/js/bootstrap.js"></script>
    <script src="../../Olive/assets/js/bootbox.js"></script>
    <link rel="stylesheet" href="../../Olive/assets/css/jquery-ui.css" />
    <link rel="stylesheet" href="../../Olive/assets/css/ui.jqgrid.css">
    <link rel="stylesheet" href="../../Olive/assets/css/ace.css"/>
    <link rel="stylesheet" href="../../Olive/assets/css/ace-fonts.css">
    <link rel="stylesheet" href="../../Olive/assets/css/datepicker.css">
    <link rel="stylesheet" href="../../Olive/assets/css/font-awesome.css">
    <link rel="stylesheet" href="../../Olive/assets/css/bootstrap.css">
    <link rel="stylesheet" href="../../Olive/assets/css/jquery-ui.custom.css">
    <link rel="stylesheet" href="../pad/css/padBase.css">
    <link rel="stylesheet" href="../../Olive/plugin/bootstrap-validator/css/bootstrapValidator.min.css" />
    <link rel="stylesheet" href="../../Olive/assets/css/bootstrap-multiselect.css" />
    <link rel="stylesheet" href="../../Olive/assets/css/bootstrap-select.css"/>
    <!--grid.locale-en.js这个文件必须在jquery.jqGrid.min.js之前加载，否则会出问题-->
    <script src="../../Olive/assets/js/jqGrid/i18n/grid.locale-cn.js"></script>
    <script src="../../Olive/assets/js/jqGrid/js/jquery.jqGrid.min.js"></script>

    <script src="../../Olive/assets/js/x-editable/bootstrap-editable.js"></script>
    <script src="../../Olive/assets/js/jquery-ui.js"></script>
    <script src="../../Olive/assets/js/jquery-ui.custom.js"></script>
    <script src="../../Olive/assets/js/jquery.ui.touch-punch.js"></script>
    <script src="../../Olive/assets/js/jqGrid/src/grid.common.js"></script>
    <script src="../../Olive/assets/js/jqGrid/src/grid.celledit.js"></script>
    <script src="../../jslib2/constant.js"></script>
    <script src="../../Olive/plugin/dateFormatUtil.js"></script>
    <script src="../../Olive/assets/js/jquery.gritter.js"></script>
    <script src="../../Olive/assets/js/qrcode.min.js"></script>
    <script src="../../Olive/assets/js/qrcode.js"></script>
    <script src="../../Olive/plugin/bootstrap-validator/js/bootstrapValidator.js"></script>
    <script src="../../Olive/assets/js/bootstrap-select.js"></script>
    <style>

        .bottom-button{
            color:white;
            background-color:#307a3c;
            height:8%;
            position: fixed;
            bottom: 10px;
            border-color:#307a3c
        }
    </style>
</head>
<body style="height: 100% ; width: 100%">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="center">
          <div class="panel panel-default left-panel">
              <div class="panel-body">
                  <div class="widget-body" style="line-height: 30px;">
                      <div style="padding: 1% 2% 4% 18%;">
                          <div id="origId_div" class="col-md-6">
                              <label class="col-md-1 control-label" for="edit_origId">仓库</label>
                              <div class="col-md-5">
                                  <select class="form-control selectpicker show-tick"
                                          id="edit_origId" name="origId"
                                          style="width: 100%;" value="${defaultWarehId}"
                                          data-live-search="true">
                                  </select>
                              </div>
                          </div>
                          <div id="newRmId_div" class="col-md-6">
                              <label class="col-md-1 control-label" for="destId"></span>库位</label>
                              <div class="col-md-5" style="position:relative;z-index: 100;">
                                  <input class="form-control" id="destId" name="newRmId" readonly
                                         style="width: 100%;background-color: #abbac3 !important;color: #ffffff;border-width: 3px;">
                                  </input>
                                  <div class="widget-body" id="tree" style="display:none;height:600px;width: 93%; overflow-y:auto;text-align: left;position:absolute;z-index: 9999;!important;">
                                      <div class="col-sm-12" style="width: 98%;margin-top: 3%;">
                                          <input class="form-control" id="search_organizationName" type="text"
                                                 placeholder="模糊查询,回车结束"/>
                                      </div>
                                      <div class="col-sm-12" style="text-align: center;margin-top:2%;">
                                          <button type="button" class="btn btn-sm btn-primary" onclick="chooseCage()" style="width: 35%;border: 0;margin-right: 8%;">
                                              <span class="bigger-110">确定</span>
                                          </button>
                                          <button type="button" class="btn btn-sm btn-warning" onclick="unChoose()" style="width: 35%;border: 0;">
                                              <span class="bigger-110">取消</span>
                                          </button>
                                      </div>
                                      <div class="widget-main no-padding">
                                          <div id="jstree"></div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>

                      <div class=" col-lg-12 col-md-12 col-sm-12" style="height:75% " id="sale">
                          <table id="uniqueCodeListGrid"></table>
                      </div>
                  </div>
              </div>
          </div>

          <button id="scanning" class=" bottom-button" onclick="onScanning()">扫描</button>
          <button id="stop" class="bottom-button" onclick="stop()">停止</button>
          <button id="save" class="bottom-button" onclick="save()">保存</button>
          <button id="addCommodity" class="bottom-button" onclick="addCommodity()">添加商品</button>
          <button id="back" class="bottom-button" onclick="onBack()">上一页</button>
      </div>
  </div>
  <div style="display:none">
      <form id="editForm" role="form">

          <input id="search_billNo" name="billNo" type="hidden"/>

          <input id="search_billDate" name="billDate" type="hidden"/>

          <input id="search_payType" name="payType" type="hidden"/>

          <input id="search_customerType" name="customerTypeId" type="hidden"/>

          <input id="search_destUnitId" type="hidden" name="destUnitId"/>

          <input id="search_destUnitName" type="hidden" name="destUnitName"/>

          <input id="search_actPrice" name="actPrice" type="hidden" step="0.01"/>

          <input id="search_payPrice" name="payPrice" type="hidden" step="0.01"/>

          <input id="pre_Balance" name="preBalance" type="hidden"/>

          <input id="search_destId" name="destId" type="hidden"/>

          <input id="search_origId" name="origId" type="hidden"/>

          <input  id="after_Balance" name="afterBalance" type="hidden"/>

          <input  id="search_discount" name="discount" type="hidden"/>

          <input  id="search_busnissId" type="hidden" name="busnissId"/>

          <input id="form_remark" type="hidden" name="remark"/>

          <input id="search_status" name="status" type="hidden"/>

          <input id="search_ownerId" name="ownerId" type="hidden"/>

          <input id="search_customertyper" name="customerType" type="hidden"/>

          <input  id="search_origUnitId" type="hidden" name="origUnitId"  />

          <input  id="search_origUnitName" type="hidden" name="origUnitName" />
      </form>
  </div>
  <script src="repository.js"></script>
</body>
</html>